{% extends 'index/template.html' %}

{% load static %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <br><br>
            <h2 class="text-center">Вакансии</h2>
            <br><br>
                        <p>Вакансия Эксперт-товаровед:</p>

            <p>В ООО «Бюро независимых судебных экспертиз» приглашается эксперт-автотехник.</p>

            <p>Профессиональные требования:</p>

            <p>- Высшее образование.</p>

            <p>- Возраст от 23-х лет.</p>

            <p>- Опыт работы в экспертной деятельности от 2-х лет.</p>

            <p>- Наличие навыков оформления судебных (внесудебных) экспертиз.</p>

            <p>Условия:</p>

            <p>- Официальное оформление по договору</p>

            <p>- Заработная плата обсуждается на собеседовании.</p>

            <p>- Работа по совместительству (частичная занятость).</p>

            <p>- Испытательный срок 1 месяц.</p>

            <p>Функциональные обязанности:</p>

            <p>- Проведение товароведческих экспертиз по поручению судебных и правоохранительных органов.</p>

            <p>На собеседование требуется иметь при себе:</p>

            <p>- Развернутое, полноценное резюме в электронном и в распечатанном виде.</p>

            <p>- Распечатку как минимум пяти экспертиз по последнему месту работы.</p>

            <p>- Копию паспорта.Копию трудовой книжки.</p>

        </div>
    </div>
</div>

{% endblock %}