{% extends 'index/template.html' %}

{% load static %}

{% block content %}


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <br><br>
            <h2 class="text-center">Контакты</h2>
            <br><br>
            <p>Наш адрес: 350018, г. Краснодар, ул. Сормовская, 7, бизнес-центр "Сормовка", оф.211/6</p>

                <p>Тел./факс: 8 (861) 267-89-96</p>

                <p>Моб. тел: 8 (918) 432-80-70</p>

                <p>Сайт: https://bnc-expert.ru</p>

                <p>Эл. почта: mail@bnc-expert.ru</p>

                <p>Instagram: https://www.instagram.com/bncexpert/</p>

                <p>Вконтакте: https://vk.com/club30748081</p>

        </div>
    </div>
</div>

{% endblock %}