{% extends 'index/template.html' %}

{% load static %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <br><br>
            <h2 class="text-center">Эксперты</h2>
            <br><br>
            <h2 class="text-center">Лазарев Олег Сергеевич</h2>
            <p><h5 class="text-center">Эксперт-строитель</h5></p>

           <p>Базовое образование – инженер-строитель по специальности «Городское строительство и хозяйство».</p>

            <p>Диплом о высшем образовании Кубанского Государственного Технологического Университета серии ВСВ 1468419 №822111, 30.05.2005 г. Краснодар 2005 г.</p>

            <p>Дополнительное обучение – прошел проверку знаний сейсмостойкого строительства СНиП II-7-81* «Строительство в сейсмических районах».</p>

            <p>Общий стаж работы по специальности - 16 лет.</p>

            <p>Квалификационный аттестат кадастрового инженера №23-11-845. Стаж экспертной работы по специальности 16.1
            «Исследование строительных объектов и территории, функционально связанной с ними, в том числе с целью проведения их оценки» по классификации СЭУ Министерства юстиции РФ с 2007 года.</p>


            <br><br><br><br>
            <h2 class="text-center">Попов Александр Владимирович</h2>
            <p><h5 class="text-center">Эксперт-товаровед</h5></p>

            <p>Имеет высшее инженерно-техническое образование, специальную подготовку по специальности 25.1
            «Исследование радиоэлектронных, электротехнических и электромеханических устройств бытового назначения», стаж работы по специальности – с 2012 г.</p>


            <br><br><br><br>
            <h2 class="text-center">Борисевич Андрей Витальевич</h2>

            <p><h5 class="text-center">Эксперт-оценщик</h5></p>

            <p>Образование: Диплом по программе «Оценка собственности», выданный Ставропольским финансово-экономическим институтом серия ИВС №0501323 от 04 июня 2003 года.
            Квалификация – оценщик Член Ассоциации «Межрегиональный союз оценщиков «МСО» (Свидетельство Ассоциации «Межрегиональный союз оценщиков «МСО», регистрационный № 0707 от 27.05.2010г.</p>

            <p>Стаж работы: общий стаж работы по специальности более 10 лет. Стаж экспертной работы по специальности по классификации СЭУ Министерства юстиции РФ с 2006 года.</p>


            <br><br><br><br>
            <h2 class="text-center">Макаренко Валерий Таварович</h2>

            <p><h5 class="text-center">Эксперт-почерковед, ТЭД</h5></p>

            <p>Образование: в 1992 году поступил в Высшую школу Министерства внутренних дел Республики Узбекистан и в 1997 году окончил полный курс Академии Министерства Министерства внутренних дел Республики Узбекистан по специальности «Правоведение».</p>

            <p>Дополнительное обучение: Прошёл Сертификацию в Российском Федеральном центре судебной экспертизы при Министерстве юстиции Российской Федерации в области «Исследование почерка и подписей».</p>

            <p>Стаж экспертной работы по специальности «Исследование почерка и подписей» по классификации СЭУ Министерства юстиции РФ более 20 лет.</p>


            <br><br><br><br>
            <h2 class="text-center">Яхонтов Сергей Алексеевич</h2>

            <p><h5 class="text-center">Эксперт-программист</h5></p>

            <p>Базовое образование – инженер по специальности «Программное обеспечение вычислительной техники и автоматизированных систем»,
                диплом о высшем образовании Кубанского Государственного Технологического Университета с отличием серии ИВС 0023358,
                регистрационный номер 74177 от 28.06.2002г. Общий стаж работы по специальности, включая экспертную деятельность более 15 лет.</p>


            <br><br><br><br>
            <h2 class="text-center">Барбаш Валерий Николаевич</h2>

            <p><h5 class="text-center">Эксперт-фоноскопист</h5></p>

            <p>
                Имеет высшее техническое образование (специальность по диплому «Радиофизика и электроника»),
                квалификацию судебного эксперта по специальности 7.2 «Исследование звуковой среды, условий, средств,
                материалов и следов звукозаписей», стаж экспертной деятельности – 12 лет.
            </p>
        </div>
    </div>
</div>

{% endblock %}